Repository jolibrain/deepdetect, pull requests merged in 2018-09, with the labels that each got.

#464 Added training with Caffe2's backend
  patches/caffe2/VLOG.patch
  patches/caffe2/logging.patch
  src/CMakeLists.txt
  src/backends/caffe2/caffe2inputconns.h
  src/backends/caffe2/caffe2inputimg.cc
  src/backends/caffe2/caffe2inputinterface.cc
  src/backends/caffe2/caffe2lib.cc
  src/backends/caffe2/caffe2lib.h
  src/backends/caffe2/caffe2libstate.h
  src/backends/caffe2/caffe2model.cc
  src/backends/caffe2/caffe2model.h
  src/backends/caffe2/nettools.h
  src/backends/caffe2/nettools/debug.cc
  src/backends/caffe2/nettools/devices_and_operators.cc
  src/backends/caffe2/nettools/fillers_and_optimizers.cc
  src/backends/caffe2/nettools/gradients.cc
  src/backends/caffe2/nettools/internal.cc
  src/backends/caffe2/nettools/internal.h
  src/backends/caffe2/nettools/workspace_and_nets.cc
  src/jsonapi.cc
  templates/caffe2/alexnet/init_net.pbtxt
  templates/caffe2/alexnet/predict_net.pbtxt
  templates/caffe2/lenet/init_net.pbtxt
  templates/caffe2/lenet/predict_net.pbtxt
  templates/caffe2/resnet_50/init_net.pbtxt
  templates/caffe2/resnet_50/predict_net.pbtxt
  tests/CMakeLists.txt
  tests/ut-caffe2api.cc
Labels: API, GPU, caffe2, images, neural net

#490 Added detectron support
  examples/caffe2/detectron/README.md
  src/backends/caffe2/caffe2inputconns.h
  src/backends/caffe2/caffe2inputimg.cc
  src/backends/caffe2/caffe2inputinterface.cc
  src/backends/caffe2/caffe2lib.cc
  src/backends/caffe2/caffe2lib.h
  src/backends/caffe2/caffe2libstate.h
  src/backends/caffe2/caffe2model.cc
  src/backends/caffe2/nettools.h
  src/backends/caffe2/nettools/debug.cc
  src/backends/caffe2/nettools/devices_and_operators.cc
  src/backends/caffe2/nettools/fillers_and_optimizers.cc
  src/backends/caffe2/nettools/gradients.cc
  src/backends/caffe2/nettools/internal.cc
  src/backends/caffe2/nettools/internal.h
  src/backends/caffe2/nettools/workspace_and_nets.cc
  src/imginputfileconn.h
  src/utils/apitools.h
  tests/CMakeLists.txt
  tests/ut-caffe2api.cc
Labels: API, C++, GPU, caffe2, images, model, neural net

#491 Replaced "TensorProtoDBInput" operators by "ImageInput"s
  CMakeLists.txt
  main/CMakeLists.txt
  src/CMakeLists.txt
  src/backends/caffe2/caffe2inputconns.h
  src/backends/caffe2/caffe2inputimg.cc
  src/backends/caffe2/caffe2inputinterface.cc
  src/backends/caffe2/caffe2lib.cc
  src/backends/caffe2/nettools.h
  src/backends/caffe2/nettools/devices_and_operators.cc
  tests/CMakeLists.txt
  tests/ut-caffe2api.cc
Labels: API, C++, GPU, caffe2, data augmentation, images

#498 added support for multibox rois search
  src/backends/caffe/caffelib.cc
  src/supervisedoutputconnector.h
Labels: API, images
