Repository jolibrain/deepdetect, pull requests merged in 2018-07, with the labels that each got.

#456 Config json file
  src/jsonapi.cc
  src/jsonapi.h
Labels: API

#454 generalized dice loss (for good)
  src/backends/caffe/caffelib.cc
  src/backends/caffe/caffelib.h
  tests/ut-caffe-mlp.cc
Labels: API, Caffe, images, neural net

#457 add per class map
  src/supervisedoutputconnector.h
Labels: API, Caffe, images, neural net

#462 Measure history subsampling
  src/mllibstrategy.h
  src/mlservice.h
  tests/ut-httpapi.cc
Labels: API

#463 Pinning spdlog to v0.17.0 for Travis
  .travis/install.sh
Labels: compilation

#465 Fix to history subsampling.
  src/mllibstrategy.h
  src/mlservice.h
  tests/ut-httpapi.cc
Labels: API

#466 Forwarded CUDA_NVCC_FLAGS to caffe_dd
  CMakeLists.txt
Labels: Caffe, compilation

#461 Switched to pytorch v0.4.0
  CMakeLists.txt
  patches/caffe2/eigen.patch
Labels: caffe2, compilation

#471 Debug httpjsonapi
  src/httpjsonapi.cc
  src/httpjsonapi.h
  tests/ut-httpapi.cc
Labels: API

#469 add possibility to remove dir (aka clear=dir)
  src/mllibstrategy.h
  src/services.h
  src/utils/fileops.hpp
  tests/ut-jsonapi.cc
Labels: API

#473 fixes to SSD training metrics
  src/backends/caffe/caffelib.cc
  src/backends/caffe/caffelib.h
  src/supervisedoutputconnector.h
Labels: Caffe, compilation

#477 remove script command from jenkinsfile
  Jenkinsfile
Labels: compilation

#475 wrong map_# measures
  src/supervisedoutputconnector.h
Labels: images, neural net

#479 Added support for db_width and db_height to force resize the db images with SSD
  src/backends/caffe/caffeinputconns.cc
  src/backends/caffe/caffeinputconns.h
  src/backends/caffe/caffelib.cc
Labels: API, Caffe

#474 JSON error report improvement
  src/jsonapi.cc
  src/jsonapi.h
  tests/ut-jsonapi.cc
Labels: API, enhancement

#478 `target_repository` allows automatic copy of best model to target directory
  src/backends/caffe/caffelib.cc
  src/backends/caffe/caffelib.h
  src/backends/caffe/caffemodel.cc
  src/backends/caffe/caffemodel.h
  src/mlmodel.h
  tests/ut-caffeapi.cc
Labels: API, Caffe, enhancement, filesystem

#480 stores full metric history into metrics.json once training job has finished
  src/jsonapi.cc
  src/jsonapi.h
  src/mlservice.h
Labels: enhancement, filesystem

#481 GET /train status call returns model directory
  src/mlservice.h
Labels: API

#482 cmdiag measure reports class name when available
  src/backends/caffe/caffelib.cc
  src/mllibstrategy.h
Labels: API
