Repository jolibrain/deepdetect, pull requests merged in 2018-11, with the labels that each got.

#489 CNN autoencoder support for Caffe backend
  src/backends/caffe/caffeinputconns.cc
  src/backends/caffe/caffeinputconns.h
  src/backends/caffe/caffelib.cc
  src/backends/caffe/caffelib.h
  src/generators/net_caffe.cc
  src/generators/net_caffe.h
  src/generators/net_caffe_convnet.cc
  src/generators/net_caffe_convnet.h
  src/generators/net_caffe_mlp.cc
  src/generators/net_caffe_resnet.cc
  src/generators/net_caffe_resnet.h
  src/supervisedoutputconnector.h
  tests/ut-caffe-mlp.cc
  tests/ut-caffeapi.cc
Labels: API, images, neural net

#502 Perspective transform : dede options
  src/backends/caffe/caffelib.cc
  tests/ut-caffe-mlp.cc
  tests/ut-caffeapi.cc
Labels: API, Caffe, data augmentation, images, neural net

#515 Added support for automated image inputs with regression tasks
  src/backends/caffe/caffelib.cc
  tests/CMakeLists.txt
Labels: C++, Caffe, images, neural net
