Repository jolibrain/deepdetect, pull requests merged in 2018-06, with the labels that each got.

#430 fixed mean subtraction to image when using Caffe model without mean.binaryproto
  src/backends/caffe/caffeinputconns.h
Labels: C++, Caffe, bug, images

#418 Audio data training via float storage in cv::Mat
  CMakeLists.txt
  src/backends/caffe/caffeinputconns.cc
  src/backends/caffe/caffeinputconns.h
  src/imginputfileconn.h
  src/jsonapi.cc
  tests/ut-caffeapi.cc
Labels: API, C++, Caffe, audio, enhancement, model

#434 added mltype variable to GET /info and GET /services calls.
  src/backends/caffe/caffelib.cc
  src/backends/caffe/caffelib.h
  src/backends/tf/tflib.cc
  src/backends/xgb/xgblib.cc
  src/mllibstrategy.h
  src/mlservice.h
Labels: API, enhancement

#424 Image classification with caffe2 backend
  .gitignore
  CMakeLists.txt
  README.md
  main/CMakeLists.txt
  patches/caffe2/caffe_proto.patch
  patches/caffe2/logging.patch
  src/CMakeLists.txt
  src/backends/caffe2/caffe2inputconns.h
  src/backends/caffe2/caffe2inputimg.cc
  src/backends/caffe2/caffe2lib.cc
  src/backends/caffe2/caffe2lib.h
  src/backends/caffe2/caffe2libstate.h
  src/backends/caffe2/caffe2model.cc
  src/backends/caffe2/caffe2model.h
  src/imginputfileconn.h
  src/jsonapi.cc
  src/services.h
  tests/CMakeLists.txt
  tests/ut-caffe2api.cc
Labels: API, GPU, caffe2, compilation, cuda, images, model, neural net

#435 data augmentation support for images stored in hdf5 databases with caffe
  CMakeLists.txt
  src/backends/caffe/caffelib.cc
Labels: C++, Caffe, GPU, cuda, data augmentation, enhancement

#451 Added creation parameters to GET /service output, ref #446
  src/mlservice.h
Labels: API, enhancement

#423 Dice loss api
  src/backends/caffe/caffelib.cc
  src/backends/caffe/caffelib.h
  tests/ut-caffe-mlp.cc
Labels: Caffe, model, neural net

#425 Object detection/classification with Dlib
  CMakeLists.txt
  README.md
  main/CMakeLists.txt
  src/CMakeLists.txt
  src/backends/dlib/DNNStructures.h
  src/backends/dlib/dlibinputconns.h
  src/backends/dlib/dliblib.cc
  src/backends/dlib/dliblib.h
  src/backends/dlib/dlibmodel.cc
  src/backends/dlib/dlibmodel.h
  src/backends/tf/tfmodel.cc
  src/imginputfileconn.h
  src/jsonapi.cc
  src/services.h
  tests/CMakeLists.txt
  tests/ut-dlibapi.cc
Labels: C++, GPU, compilation, model, neural net
