Repository jolibrain/deepdetect, pull requests merged in 2019-02, with the labels that each got.

#534 Training metrics preservation across resume calls.
  src/backends/caffe/caffelib.cc
  src/backends/caffe2/caffe2lib.cc
  src/jsonapi.cc
  src/jsonapi.h
  src/mllibstrategy.h
  src/mlservice.h
  tests/ut-caffe2api.cc
Labels: API, C++, enhancement

#529 Caffe2 templates
  src/backends/caffe2/nettools.h
  src/backends/caffe2/nettools/debug.cc
  src/backends/caffe2/nettools/devices_and_operators.cc
  src/backends/caffe2/nettools/fillers_and_optimizers.cc
  src/backends/caffe2/nettools/gradients.cc
  src/backends/caffe2/nettools/internal.cc
  src/backends/caffe2/nettools/internal.h
  templates/caffe2/googlenet/init_net.pbtxt
  templates/caffe2/googlenet/predict_net.pb
  templates/caffe2/googlenet/predict_net.pbtxt
  templates/caffe2/inception_bn/init_net.pbtxt
  templates/caffe2/inception_bn/predict_net.pb
  templates/caffe2/inception_bn/predict_net.pbtxt
  templates/caffe2/resnet_18/init_net.pbtxt
  templates/caffe2/resnet_18/predict_net.pb
  templates/caffe2/resnet_18/predict_net.pbtxt
  templates/caffe2/vgg_16/init_net.pbtxt
  templates/caffe2/vgg_16/predict_net.pb
  templates/caffe2/vgg_16/predict_net.pbtxt
  templates/caffe2/vgg_19/init_net.pbtxt
  templates/caffe2/vgg_19/predict_net.pb
  templates/caffe2/vgg_19/predict_net.pbtxt
  templates/caffe2/wrn_50/init_net.pbtxt
  templates/caffe2/wrn_50/predict_net.pb
  templates/caffe2/wrn_50/predict_net.pbtxt
  templates/caffe2/xception/init_net.pbtxt
  templates/caffe2/xception/predict_net.pb
  templates/caffe2/xception/predict_net.pbtxt
Labels: C++, caffe2, images, model

#543 Support for CTC to NCNN backend
  CMakeLists.txt
  src/backends/ncnn/ncnninputconns.h
  src/backends/ncnn/ncnnlib.cc
Labels: C++, images, model

#544 NCNN model type for using with the platform
  src/backends/ncnn/ncnnlib.cc
  src/backends/ncnn/ncnnlib.h
Labels: API, C++, NCNN, neural net

#517 long awaited timeseries
  examples/all/sinus/gen.py
  src/CMakeLists.txt
  src/backends/caffe/caffeinputconns.cc
  src/backends/caffe/caffeinputconns.h
  src/backends/caffe/caffelib.cc
  src/backends/caffe/caffelib.h
  src/csvinputfileconn.cc
  src/csvinputfileconn.h
  src/csvtsinputfileconn.cc
  src/csvtsinputfileconn.h
  src/generators/net_caffe.cc
  src/generators/net_caffe.h
  src/generators/net_caffe_recurrent.cc
  src/generators/net_caffe_recurrent.h
  src/jsonapi.cc
  src/services.h
  src/supervisedoutputconnector.h
  src/utils/fileops.hpp
  templates/caffe/recurrent/deploy.prototxt
  templates/caffe/recurrent/recurrent.prototxt
  templates/caffe/recurrent/recurrent_solver.prototxt
  tests/CMakeLists.txt
  tests/ut-caffeapi.cc
  tests/ut-conn.cc
Labels: API, C++, CSV, Caffe, enhancement, model, neural net

#550 Fixed resuming of metrics
  src/jsonapi.cc
  src/jsonapi.h
  src/mlservice.h
Labels: C++, bug

#539 Dice loss parameters + contours : clean API
  src/backends/caffe/caffelib.cc
  src/backends/caffe/caffelib.h
  tests/ut-caffe-mlp.cc
Labels: API, C++, Caffe, GPU, images, neural net
