Repository jolibrain/deepdetect, pull requests merged in 2019-09, with the labels that each got.

#629 Support for tree-structured chains
  src/chain.cc
  src/chain.h
  src/chain_actions.cc
  src/chain_actions.h
  src/services.h
Labels: API

#611 Integration of Libtorch in DeepDetect for image classification
  CMakeLists.txt
  README.md
  patches/pytorch/pytorch_log.patch
  src/CMakeLists.txt
  src/backends/torch/torchinputconns.h
  src/backends/torch/torchlib.cc
  src/backends/torch/torchlib.h
  src/backends/torch/torchmodel.cc
  src/backends/torch/torchmodel.h
  src/imginputfileconn.h
  src/jsonapi.cc
  src/services.h
  tests/CMakeLists.txt
  tests/ut-torchapi.cc
  tools/torch/README.md
  tools/torch/trace_torchvision.py
Labels: API, C++, images, model, neural net, pytorch

#633 Fixes to chain, improving error handling
  src/services.h
Labels: API

#616 BERT model inference support via PyTorch C++ API
  src/CMakeLists.txt
  src/backends/torch/torchinputconns.cc
  src/backends/torch/torchinputconns.h
  src/backends/torch/torchlib.cc
  src/backends/torch/torchlib.h
  src/jsonapi.cc
  src/services.h
  src/txtinputfileconn.cc
  src/txtinputfileconn.h
  tests/CMakeLists.txt
  tests/ut-torchapi.cc
Labels: API, C++, neural net, pytorch, text
