Repository jolibrain/deepdetect, pull requests merged in 2020-04, with the labels that each got.

#710 FIX : correcty pass CUDA_ARCH cmake option to FAISS
  CMakeLists.txt
Labels: compilation, simsearch, v0.9.7

#714 fix compile w/ trt w/torch w/o caffe
  CMakeLists.txt
Labels: compilation, pytorch, v0.9.7

#717 fixed model copy calls between directories (aka publishing) with deploy modified
  src/backends/caffe/caffelib.cc
Labels: Caffe, v0.9.7

#720 Fix tensortRT 'best' selection
  src/backends/tensorrt/tensorrtlib.cc
  tests/CMakeLists.txt
  tests/ut-tensorrtapi.cc
Labels: tensorrt, v0.9.7

#712 Now throwing proper exception on tensorrt caffe model parser failure
  src/backends/tensorrt/tensorrtlib.cc
Labels: Caffe, tensorrt, v0.9.7

#636 make dede tencent/ncnn/master compatible
  CMakeLists.txt
  src/backends/ncnn/caffe2ncnn.cc
  src/backends/ncnn/ncnnlib.cc
  src/backends/ncnn/ncnnlib.h
  tests/CMakeLists.txt
Labels: v0.9.7

#700 added RefineDet VoVNet39 512x512 caffe template
  src/backends/caffe/caffelib.cc
  templates/caffe/refinedet_vovnet27slim_512/deploy.prototxt
  templates/caffe/refinedet_vovnet27slim_512/refinedet_vovnet27slim_512.prototxt
  templates/caffe/refinedet_vovnet27slim_512/refinedet_vovnet27slim_512_solver.prototxt
  templates/caffe/refinedet_vovnet39_512/deploy.prototxt
  templates/caffe/refinedet_vovnet39_512/refinedet_vovnet39_512.prototxt
  templates/caffe/refinedet_vovnet39_512/refinedet_vovnet39_512_solver.prototxt
Labels: Caffe, images, model, v0.9.7
