Repository jolibrain/deepdetect, pull requests merged in 2021-12, with the labels that each got.

#1378 feat: noise image data augmentation for training with torch backend
  src/backends/torch/torchdataaug.cc
  src/backends/torch/torchdataaug.h
  src/backends/torch/torchlib.cc
  tests/ut-torchapi.cc
Labels: datatype:images, datatype:data augmentation, mllib:pytorch, process:ready-to-review

#1379 Feat ml distort aug torch
  src/backends/torch/torchdataaug.cc
  src/backends/torch/torchdataaug.h
  src/backends/torch/torchlib.cc
  tests/ut-torchapi.cc
Labels: datatype:images, datatype:data augmentation, mllib:pytorch, process:ready-to-review

#1380 feat(ml): activate cutout for object detector training with torch backend
  src/backends/torch/torchdataaug.cc
  tests/ut-torchapi.cc
Labels: datatype:images, datatype:data augmentation, mllib:pytorch, process:ready-to-review

#1381 fix(torch): correct output name for onnx classification model
  tools/torch/trace_torchvision.py
Labels: mllib:pytorch, mllib:tensorrt, process:ready-to-review, ci:skip-tests

#1382 fix(tensorrt): read onnx model to find topk
  CMakeLists.txt
  src/CMakeLists.txt
  src/backends/tensorrt/protoUtils.cc
  src/backends/tensorrt/protoUtils.h
  src/backends/tensorrt/tensorrtlib.cc
Labels: mllib:tensorrt, process:ready-to-review

#1385 dice loss for torch backend
  docs/api.md
  src/backends/torch/torchloss.cc
  src/backends/torch/torchloss.h
  tests/ut-torchapi.cc
Labels: datatype:images, mllib:pytorch, process:ready-to-review, process:merge-queued

#1384 feat(torch): manage models with multiple losses
  src/backends/torch/torchlib.cc
  src/backends/torch/torchlib.h
  src/backends/torch/torchloss.cc
  src/backends/torch/torchloss.h
  src/backends/torch/torchmodule.h
  tests/CMakeLists.txt
  tests/ut-torchapi.cc
  tests/ut_python/ut_tools_torch.py
  tools/torch/trace_torchvision.py
  tools/torch/trace_yolox.py
Labels: kind:model, kind:API, mllib:pytorch, process:ready-to-review, process:merge-queued

#1383 Fix yolox trt
  src/backends/tensorrt/.gitignore
  src/backends/tensorrt/models/yolo.hpp
  src/backends/tensorrt/tensorrtlib.cc
  src/backends/tensorrt/tensorrtlib.h
  tests/CMakeLists.txt
  tests/ut-tensorrtapi.cc
  tools/torch/trace_yolox.py
Labels: kind:model, mllib:tensorrt, process:ready-to-review, process:merge-queued, ci:embedded

#1386 feat(ml): added support for segformer with torch backend
  src/backends/torch/torchlib.cc
  tests/CMakeLists.txt
  tests/ut-torchapi.cc
Labels: kind:model, datatype:images, mllib:pytorch, process:ready-to-review
