Repository jolibrain/deepdetect, pull requests merged in 2021-07, with the labels that each got.

#1315 chore: libtorch 1.9
  CMakeLists.txt
  patches/pytorch/pytorch_14_namespace.patch
  patches/pytorch/pytorch_18_string_view.patch
  patches/pytorch/pytorch_19_new_logger.patch
  patches/pytorch/pytorch_19_use_new_logger.patch
  src/backends/torch/torchutils.h
Labels: ci:full-build, mllib:pytorch, process:merge-queued, process:ready-to-review

#1317 fix(trt): detect architecture and rebuild model if necessary
  src/backends/tensorrt/tensorrtlib.cc
  tests/ut-tensorrtapi.cc
Labels: kind:GPU, mllib:tensorrt, process:merge-queued, process:ready-to-review

#1318 fix: dont rebuild torchvision everytime
  CMakeLists.txt
  cmake/build_external.sh
Labels: ci:full-build, kind:C++, process:merge-queued, process:ready-to-review

#1319 fix(torch): predictions handled correctly when data count > 1
  src/backends/torch/torchdataset.cc
  src/backends/torch/torchdataset.h
  tests/ut-torchapi.cc
Labels: kind:API, mllib:pytorch, process:merge-queued, process:ready-to-review, type:bug

#1320 Build no server oatpp
  CMakeLists.txt
Labels: build:compilation, process:merge-queued, process:ready-to-review

#1321 fix(TRT): fix build wrt new external build script
  CMakeLists.txt
Labels: build:compilation, mllib:tensorrt, process:ready-to-review
