Repository jolibrain/deepdetect, pull requests merged in 2021-09, with the labels that each got.

#1336 chore: faiss main branch was renamed main
  CMakeLists.txt
Labels: build:compilation, mllib:simsearch

#1337 chore: make ut_chain pass
  tests/ut-chain.cc
Labels: kind:chains, process:ready-to-review, process:merge-queued

#1335 perf: avoid un needed operations in trt process_batch
  src/backends/tensorrt/tensorrtinputconns.cc
Labels: mllib:tensorrt, process:ready-to-review

#1332 feat: torch segmentation model prediction
  demo/segmentation/segment.py
  src/backends/caffe/caffelib.cc
  src/backends/caffe/caffelib.h
  src/backends/torch/torchlib.cc
  src/backends/torch/torchlib.h
  src/dto/mllib.hpp
  src/dto/output_connector.hpp
  src/imginputfileconn.h
  tests/CMakeLists.txt
  tests/ut-torchapi.cc
  tools/torch/trace_torchvision.py
Labels: datatype:images, mllib:pytorch, process:ready-to-review

#1338 fix: CI on Jetson nano with lighter classification model
  tests/CMakeLists.txt
  tests/ut-tensorrtapi.cc
Labels: mllib:tensorrt, process:ready-to-review, ci:embedded

#1339 build(caffe): set cudnn to on by default
  CMakeLists.txt
Labels: process:ready-to-review, ci:skip-tests, process:merge-queued

#1325 refactor(chain): use DTO for output connector and chain
  src/apidata.cc
  src/apidata.h
  src/backends/tensorrt/tensorrtlib.cc
  src/chain.cc
  src/chain.h
  src/chain_actions.cc
  src/dto/chain.hpp
  src/dto/common.hpp
  src/dto/ddtypes.hpp
  src/dto/info.hpp
  src/dto/predict_out.hpp
  src/jsonapi.cc
  src/services.h
  src/unsupervisedoutputconnector.h
  src/utils/oatpp.cc
  src/utils/oatpp.hpp
  tests/ut-chain.cc
  tests/ut-dto.cc
Labels: kind:connectors, kind:chains, process:ready-to-review, process:merge-queued, kind:dto, ci:embedded

#1341 fix(torch): add include sometimes needed
  CMakeLists.txt
  patches/pytorch/pytorch_19_thrust_include.patch
Labels: mllib:pytorch, ci:full-build, ci:skip-tests

#1343 fix(cpu): auto switch off cudnn in case of cpu_only
  CMakeLists.txt
Labels: type:bug, build:compilation, process:ready-to-review, ci:skip-tests

#1340 feat: chain uses dto end to end
  CMakeLists.txt
  src/backends/dlib/dlib_actions.cpp
  src/backends/dlib/dlib_actions.h
  src/backends/tensorrt/tensorrtinputconns.cc
  src/backends/tensorrt/tensorrtinputconns.h
  src/backends/tensorrt/tensorrtlib.cc
  src/backends/tensorrt/tensorrtlib.h
  src/backends/torch/torchdataset.cc
  src/chain.h
  src/chain_actions.cc
  src/chain_actions.h
  src/dto/chain.hpp
  src/dto/input_connector.hpp
  src/dto/output_connector.hpp
  src/dto/service_predict.hpp
  src/imginputfileconn.h
  src/inputconnectorstrategy.h
  src/mlmodel.h
  src/services.h
  src/supervisedoutputconnector.h
  src/unsupervisedoutputconnector.h
Labels: kind:chains, process:ready-to-review, process:merge-queued, kind:dto, ci:embedded

#1344 feat: DETR export and inference with torch backend
  src/backends/torch/torchlib.cc
  tools/torch/trace_detr.py
Labels: kind:model, datatype:images, mllib:pytorch, process:ready-to-review

#1346 docs: fix pip install command from git repository
  clients/python/README.md
Labels: kind:documentation, process:ready-to-review, ci:skip-tests
