Repository jolibrain/deepdetect, pull requests merged in 2022-04, with the labels that each got.

#1416 feat(cpp): torch predict to DTO
  src/backends/tensorrt/tensorrtlib.cc
  src/backends/torch/torchinputconns.cc
  src/backends/torch/torchinputconns.h
  src/backends/torch/torchlib.cc
  src/backends/torch/torchmodule.cc
  src/backends/torch/torchmodule.h
  src/dto/input_connector.hpp
  src/dto/mllib.hpp
  src/dto/output_connector.hpp
  src/services.h
  src/utils/oatpp.hpp
Labels: kind:API, kind:C++, mllib:pytorch, process:ready-to-review, ci:full-build, process:merge-queued

#1418 fix(torch): Fix update metrics and solver options when resuming
  src/backends/torch/torchsolver.cc
  tests/ut-torchapi.cc
Labels: kind:API, mllib:pytorch, kind:optimizers, process:ready-to-review, ci:full-build, process:merge-queued

#1426 More arch everywhere
  ci/Jenkinsfile-trt.unittests
  ci/Jenkinsfile.prebuilt-cache
  ci/Jenkinsfile.unittests
  ci/devel-trt.Dockerfile
  cmake/Cuda.cmake
Labels: kind:cuda, ci:full-build

#1429 Opencv cuda arch in dockerfile
  ci/devel-trt.Dockerfile
Labels: mllib:tensorrt, process:ready-to-review

#1428 allow to specify torch cuda arch
  CMakeLists.txt
Labels: process:ready-to-review, ci:full-build

#1427 make cache work
  CMakeLists.txt
  ci/Jenkinsfile.prebuilt-cache
  ci/Jenkinsfile.unittests
Labels: build:compilation

#1420 TensorRT 22.03
  CMakeLists.txt
  ci/devel-trt.Dockerfile
  docker/gpu_tensorrt.Dockerfile
  patches/trt/0001-support-for-refinedet.patch
  patches/trt/0003-c++14.patch
  patches/trt/0009-fix_compil_order.patch
  patches/trt/0010-fix_plugin_detect.patch
  src/backends/tensorrt/protoUtils.cc
  src/backends/tensorrt/protoUtils.h
  src/backends/tensorrt/tensorrtlib.cc
Labels: mllib:tensorrt, process:ready-to-review, ci:docker

#1419 fix: cutout and crops in data augmentation of torch models
  src/backends/torch/torchdataaug.h
  tests/ut-torchapi.cc
Labels: type:bug, datatype:data augmentation, mllib:pytorch, process:ready-to-review

#1412 fix: seeded random crops at test time
  src/backends/torch/torchdataaug.cc
  src/backends/torch/torchdataaug.h
  src/backends/torch/torchdataset.cc
  src/backends/torch/torchdataset.h
  src/backends/torch/torchlib.cc
  tests/ut-torchapi.cc
Labels: datatype:data augmentation, mllib:pytorch, process:ready-to-review
