Repository jolibrain/deepdetect, pull requests merged in 2022-05, with the labels that each got.

#1423 fix(docker): fix libraries not found in trt docker
  docker/check-dede-deps.sh
  docker/gpu_tensorrt.Dockerfile
Labels: kind:docker, process:ready-to-review, ci:skip-tests, ci:docker

#1431 chore: GPU docker nvidia update
  ci/devel.Dockerfile
  docker/gpu.Dockerfile
Labels: kind:docker, process:ready-to-review, ci:full-build, ci:docker

#1432 feat(torch): ocr model training and inference
  src/CMakeLists.txt
  src/backends/torch/native/templates/crnn.cc
  src/backends/torch/native/templates/crnn.hpp
  src/backends/torch/torchdataset.cc
  src/backends/torch/torchdataset.h
  src/backends/torch/torchinputconns.cc
  src/backends/torch/torchinputconns.h
  src/backends/torch/torchlib.cc
  src/backends/torch/torchlib.h
  src/backends/torch/torchloss.cc
  src/backends/torch/torchloss.h
  src/backends/torch/torchmodel.cc
  src/backends/torch/torchmodel.h
  src/backends/torch/torchmodule.cc
  src/backends/torch/torchmodule.h
  src/backends/torch/torchutils.cc
  src/dto/mllib.hpp
  src/inputconnectorstrategy.h
  tests/CMakeLists.txt
  tests/ut-torchapi.cc
  tools/torch/trace_torchvision.py
Labels: kind:model, datatype:images, mllib:pytorch, process:ready-to-review

#1434 fix: remove semantic commit check
  .mergify.yml
Labels: process:ready-to-review, ci:skip-tests

#1438 fix: caffe build can use custom opencv
  CMakeLists.txt
Labels: build:compilation, mllib:caffe, process:ready-to-review, process:merge-queued

#1435 fix: wrong cuda runtime in docker images
  docker/gpu.Dockerfile
  docker/sync_gpu_dockerfiles.sh
Labels: process:ready-to-review, ci:docker, process:merge-queued

#1436 chore: more torch optimizers
  src/backends/torch/torchsolver.cc
Labels: mllib:pytorch, kind:optimizers, process:ready-to-review
