Repository jolibrain/deepdetect, pull requests merged in 2022-08, with the labels that each got.

#1450 fix(torch): OCR predict with native model
  clients/python/tox.ini
  src/backends/torch/torchinputconns.cc
  src/backends/torch/torchinputconns.h
  src/backends/torch/torchlib.cc
  src/backends/torch/torchutils.cc
  tests/ut-torchapi.cc
Labels: kind:model, datatype:images, mllib:pytorch, process:ready-to-review, process:merge-queued

#1448 Added bool param to service creation for torch to optionally disable …
  docs/api.md
  src/backends/torch/torchlib.cc
  src/backends/torch/torchlib.h
  src/dto/mllib.hpp
  tests/ut-torchapi.cc
Labels: kind:API, mllib:pytorch, process:ready-to-review, process:merge-queued

#1453 fix: prevent a buggy optimization in traced fasterrcnn
  tests/ut_python/ut_tools_torch.py
  tools/torch/trace_torchvision.py
Labels: type:bug, kind:model, mllib:pytorch, process:ready-to-review, process:merge-queued

#1455 feat(torch): update torch to 1.12
  CMakeLists.txt
  patches/pytorch/pytorch_15_compile.patch
Labels: build:compilation, mllib:pytorch, process:ready-to-review, ci:full-build

#1452 Dlib version update and regression fixes
  CMakeLists.txt
  src/backends/dlib/dlib_actions.cpp
  src/backends/dlib/dlib_actions.h
  src/backends/dlib/dliblib.cc
  src/jsonapi.cc
Labels: process:ready-to-review, process:merge-queued, mllib:dlib

#1454 fix: reload best metric correctly after resume
  src/backends/torch/torchsolver.cc
  src/utils/utils.hpp
  tests/CMakeLists.txt
  tests/ut-common.cc
Labels: type:bug, mllib:pytorch, process:ready-to-review, process:merge-queued
