Repository jolibrain/deepdetect, pull requests merged in 2024-06, with the labels that each got.

#1560 chore: update pytorch to 2.3
  CMakeLists.txt
  patches/pytorch/pytorch_23_cloneable.patch
  patches/pytorch/pytorch_23_use_new_logger.patch
  src/apidata.h
  src/backends/torch/optim/madgrad.cc
  src/backends/torch/optim/radam.cc
  src/backends/torch/optim/ranger.cc
Labels: mllib:pytorch, process:ready-to-review, ci:full-build

#1562 chore: add warning when trying to rotate non-square images
  src/backends/torch/torchlib.cc
Labels: process:ready-to-review

#1566 test: attempt to fix memory error on consistency chain
  ci/devel.Dockerfile
  docker/cpu.Dockerfile
  docker/gpu.Dockerfile
  tests/ut-chain.cc
Labels: process:ready-to-review, ci:docker
